<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body>
        <h1> create new post</h1>

        <form method="post" action="/posts">
            <input placeholder="enter username" name="username"> 
            <hr>
            <textarea placeholder="write your post" name="content"></textarea>
            <button>Submit</button>
        </form>





    </body>
</html>