<!DOCTYPE html>
<html>
    <head>
        <title>Postify Page</title>
     

    </head>
    <body>

        
        <form method="get" action="/posts/root">

          <button>Go to main page!!</button>
        </form>  
        


        






    </body>
</html>