<!DOCTYPE html>
<html>
    <head>
        <title>Post</title>
        <link rel="stylesheet" href="style.css">


    </head>
    <body>
        <h1> Post in Detail</h1>

        <p> Post id : <%= post.id %></p>

        <div>
            <h3 class="user">@ <%= post.username %></h3>
            <h4><%= post.content %></h4>

        </div>






    </body>
</html>