h1 {
    color: maroon;
}

.post {
    background-color:blanchedalmond;
}

.user{
    font-style:italic;
}

a {
    text-decoration: none;
    Border: 1px solid black;
    background-color: aquamarine;

}